

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://di-square.co.jp/">
                   by DI-Square
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://github.com/MagariDIS/root">Tetsuya Magari</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://di-square.co.jp/">DI-Square</a>
          </div>
        </div>
    </footer>
